In [1]:
print("hello")

hello

In [2]:
%pip install ipykernel -U --user --force-reinstall
%pip install pandas openpyxl

[notice] A new release of pip is available: 24.3.1 -> 25.1
[notice] To update, run: pip install --upgrade pip
ERROR: Can not perform a '--user' install. User site-packages are not visible in this virtualenv.
Note: you may need to restart the kernel to use updated packages.
Collecting pandas
  Using cached pandas-2.2.3-cp313-cp313-macosx_11_0_arm64.whl.metadata (89 kB)
Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.5-cp313-cp313-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/rajesmanna/Documents/Phd/backend/venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: six>=1.5 in /Users/rajesmanna/Documents/Phd/backend/venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp313-cp313-macosx_11_0_arm64.whl (11.3 MB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading numpy-2.2.5-cp313-cp313-macosx_14_0_arm64.whl (5.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 2.4 MB/s eta 0:00:00a 0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: pytz, tzdata, numpy, et-xmlfile, pandas, openpyxl
Successfully installed et-xmlfile-2.0.0 numpy-2.2.5 openpyxl-3.1.5 pandas-2.2.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 24.3.1 -> 25.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import re
import unicodedata
# Load the files

phd_df = pd.read_excel("PhD Data Departments Wise (Updated).xlsx")

# Print row counts
print(f"🧾 Number of rows in 'Employeee Details.xlsx': {len(employee_df)}")
print(f"🎓 Number of rows in 'PhD Data Departments Wise (Updated).xlsx': {len(phd_df)}")

NameError: name 'employee_df' is not defined

In [6]:
employee_df = pd.read_excel("Employeee Details.xlsx")
employee_df.head()
# employee_df["Official Email"].fillna(employee_df["Personal Email"], inplace=True)
# employee_df = employee_df.iloc[:-1]
# employee_df["Organization Unit"] = employee_df["Organization Unit"].str.extract(r"of\s+(.*)")
# employee_df["Organization Unit"] = employee_df["Organization Unit"].str.replace(
#     r"Department\s+of\s+", "", regex=True
# )
# employee_df.to_excel("employee.xlsx", index=False)

,Name,Date of Birth,Mobile Number,Personal Email,Type of Employee,Nature of Employment,Organization Unit,Post,Official Email
0,Janibul Bashir,1991-03-01,8825099229,janibbashir@gmail.com,Teaching,Permanent,Department of Information Technology,Assistant Professor,janibbashir@nitsri.ac.in
1,Tanveer Rasool,1974-12-15,7006899026,trasool440@gmail.com,Teaching,Permanent,Department of Chemical Engineering,Assistant Professor,tanveer@nitsri.ac.in
2,Krishna Srihari Bonasi,1980-06-04,6005143233,sriharibonasi@gmail.com,Teaching,Permanent,Department of Chemical Engineering,Assistant Professor,sriharibonasi@nitsr.ac.in
3,Shashikant,1990-01-15,8986948677,shashikant070498@gmail.com,Teaching,Permanent,Department of Chemical Engineering,Assistant Professor,shashikantkumar@nitsri.ac.in
4,Fatima Jalid,1992-07-07,9990795522,fatimajalid@gmail.com,Teaching,Permanent,Department of Chemical Engineering,Assistant Professor,fatima@nitsri.ac.in

In [23]:
employee_df.isnull().sum()
print(employee_df["Organization Unit"].unique())

['Information Technology' 'Chemical Engineering' 'Mechanical Engineering'
 'Chemistry' 'Civil Engineering' 'Computer Science and Engineering'
 'Electronics and Communication Engineering' 'Electrical Engineering'
 'Humanities Social Sciences and Management' 'Mathematics'
 'Materials and Metallurgical Engineering' 'Physics' 'ERP'
 'Planning and Development' 'Personnel Department' 'Administration'
 'Accounts' 'Central Workshop' 'Computer Service Centre'
 'Central Research Facility Centre' 'Academic Affairs' 'Medical Unit'
 'Training and Placement Cell' 'Registrar Office' 'Water Resources Centre'
 'Mess office' 'Library' 'S and P Legal' 'legal cell' 'Examination'
 'Electrical Maintenance Division' 'Hostel Office'
 'Sports and Student activities' 'Central Purchase Unit' 'Security'
 'Sanitation' 'Compilation Section' 'Stationary And Printing'
 'Direction Office']

In [38]:
column_names = set()

for sheet_name, df in phd_df.items():
    if isinstance(df, pd.Series):
        column_names.add(df.name)  # Single column name
    elif isinstance(df, pd.DataFrame):
        column_names.update(df.columns)
    else:
        print(f"Unknown type in sheet '{sheet_name}': {type(df)}")

print(column_names)

phd_df.head()

{"Student's Name", 'Enrolment No.', 'Gender ', 'Full Time/Part Time.1', 'Designation of Co-Supervisor ', 'S.No', 'Co-supervisor ', 'Remark ', 'Department', 'Date of Joining', 'Batch ', 'Registration No', 'Full Time/Part Time', 'Admission Category', 'Designation of Supervisor ', 'Supervisor'}

,S.No,Student's Name,Department,Enrolment No.,Registration No,Batch,Gender,Full Time/Part Time,Date of Joining,Full Time/Part Time.1,Admission Category,Supervisor,Designation of Supervisor,Co-supervisor,Designation of Co-Supervisor,Remark
0,1,Ameer Ullah Ganai,Civil Engineering,2015-FOE-PH.D-AUTUMN-48,2015-FOE-PH.D-AUTUMN-48,2015,Male,Part Time,2015-08-31,NaN,Sponsored,Dr Mohammad Yousuf Shah,Professor,Dr Bashir Ahmad Mir,Professor,Admission on Hold
1,2,Aliya Naseer,Civil Engineering,2017-FOE-PH.D-SPRING-01,2017-FOE-PH.D-SPRING-01,2017,Female,Full Time,2017-03-30,Part Time,Sponsored,Dr Manzoor Ahmad Tantray,Professor,Nil,Nil,NaN
2,3,Shakeel Ahmad Rather,Civil Engineering,2017-FOE-PH.D-SPRING-08,2017-FOE-PH.D-SPRING-08,2017,Male,Full Time,2017-03-30,Part Time,Sponsored,Dr Javaid Ahmad Bhat,Professor,Nil,Nil,NaN
3,4,Iftikhar Hussain Beigh,Civil Engineering,2017-FOE-PH.D-SPRING-32,2017-FOE-PH.D-SPRING-32,2017,Male,Full Time,2017-03-31,Part Time,Institute Fellowship,Dr S Kaiser Bukhari,Professor,Nil,Nil,NaN
4,5,Tariq Ahmad Sheikh,Civil Engineering,2017-FOE-PH.D-SPRING-63,2017-FOE-PH.D-SPRING-63,2017,Male,Part Time,2017-04-05,NaN,Open,Dr Jhon Mohammad Banday,Professor,Dr Majid Hussain,Assistant Professor,Admission on Hold

In [9]:


xls = pd.ExcelFile("PhD Data Departments Wise (Updated).xlsx")
sheet_names = xls.sheet_names
all_sheets = {sheet: xls.parse(sheet) for sheet in sheet_names}

manual_replacements = {
    's.no': 'S.No',
    "student's name": "Student's Name",
    'department': 'Department',
    'department ': 'Department',
    'enrolment no.': 'Enrolment No',
    'enrolment no': 'Enrolment No',
    'registration no': 'Registration No',
    'batch': 'Batch',
    'batch ': 'Batch',
    'gender': 'Gender',
    'gender ': 'Gender',
    'date of joining': 'Date of Joining',
    'admission category': 'Admission Category',
    'full time/part time': 'Full Time/Part Time',
    'full time/part time ': 'Full Time/Part Time',
    'full time/part time.1': 'Full Time/Part Time',
    'full time/part-time': 'Full Time/Part Time',
    'full time/part-time.1': 'Full Time/Part Time',
    'full time ': 'Full Time/Part Time',
    'full time': 'Full Time/Part Time',
    'full time/part-time': 'Full Time/Part Time',
    'full time/part-time.1': 'Full Time/Part Time',
    'remark': 'Remark',
    'remark ': 'Remark',
    'supervisor': 'Supervisor',
    'co-supervisor ': 'Co-supervisor',
    'Co-supervisor': 'Co-supervisor',
    'designation of co-supervisor': 'Designation of Co-Supervisor',
    'designation of co-supervisor ': 'Designation of Co-Supervisor',
    'designation of supervisor .1': 'Designation of Supervisor',
    'designation of supervisor ': 'Designation of Supervisor',
    'Designation of Supervisor': 'Designation of Supervisor',
}
column_names = set(manual_replacements.values())
combined_df = pd.DataFrame(columns=sorted(column_names))
def normalize(text):
    text = unicodedata.normalize("NFKD", text)
    text = text.replace('–', '-').replace('—', '-')  # normalize en-dash/em-dash to hyphen
    text = re.sub(r'[^\x00-\x7F]+', '', text)        # remove non-ASCII characters
    text = re.sub(r'\s+', ' ', text)                 # collapse all whitespace
    return text.strip().lower()


# Normalize all keys in manual_replacements
manual_replacements_normalized = {
    normalize(k): v for k, v in manual_replacements.items()
}
def normalize_col(col):
    cleaned = normalize(col)
    return manual_replacements_normalized.get(cleaned, None)

for sheet, df in all_sheets.items():
    cleaned_df = pd.DataFrame(columns=combined_df.columns)
    for col in df.columns:
        new_col = normalize_col(col)
        if new_col:
            cleaned_df[new_col] = df[col]
    combined_df = pd.concat([combined_df, cleaned_df], ignore_index=True)
def parse_date(value):
    try:
        # Handle Excel serial numbers (e.g., 42247)
        if isinstance(value, (int, float)):
            return pd.to_datetime(value, unit='D', origin='1899-12-30')
        # Handle string dates (e.g., "8/31/2015")
        elif isinstance(value, str):
            # Remove non-numeric characters (e.g., hidden whitespace)
            cleaned_value = re.sub(r'[^0-9/]', '', value)
            return pd.to_datetime(cleaned_value, format='%m/%d/%Y', errors='coerce')
        else:
            return pd.NaT
    except:
        return pd.NaT
columns_to_drop = [
    'Designation of Supervisor', 
    'Remark',
    'Designation of Co-Supervisor',
    'S.No'
]
combined_df = combined_df.drop(columns=columns_to_drop, errors='ignore')
# Remove extra spaces from all string entries across the DataFrame
combined_df = combined_df.applymap(lambda x: ' '.join(x.split()) if isinstance(x, str) else x)
combined_df = combined_df.replace('Nil', '')
# for col in combined_df.columns:
#     print(f"\nUnique values in '{col}':")
#     print(combined_df[col].unique())

# print(combined_df['Department'].unique())

combined_df.to_excel("PhD_Combined_Cleaned.xlsx", index=False)

/var/folders/px/1stm6s094nlf81rx107bk0z40000gn/T/ipykernel_97743/24074589.py:63: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, cleaned_df], ignore_index=True)
/var/folders/px/1stm6s094nlf81rx107bk0z40000gn/T/ipykernel_97743/24074589.py:86: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  combined_df = combined_df.applymap(lambda x: ' '.join(x.split()) if isinstance(x, str) else x)

In [12]:
employee_df = pd.read_excel("employee.xlsx")
employee_df['Post'].unique()

array(['Assistant Professor', 'Professor', 'Associate Professor',
       'Sr. Technician', 'Technical Assistant', 'Senior Supdtt',
       'Senior Technician', 'Tech. Asstt. SG I', 'Technician -SG-I',
       'Technician', 'Senior Office Attendant', 'Assistant Registrar',
       'Office Attendant SGII', 'Executive Engineer(civil)',
       'Deputy Registrar', 'Private Secretary', 'Stenographer', 'SG-II',
       'Senior Technical Assistant SGI', 'Senior Technical Assistant',
       'Superintendent', 'Assistant Grade I', 'Asstt. SG-I', 'Orderly',
       'Senior Assistant', 'Technical Officer',
       'Scientific/Technical Officer', 'Technical Assistant SGII',
       'Senior Attendant', 'Junior Assistant', 'Tech . Asstt.-SG II',
       'Pharmacist', 'Sport and Student Activities Asst. SG I',
       'Office Attendant', 'Senior Technical Assistant SGII',
       'Technician -SG-II', 'Jr. Lab Assistant', 'Sr Asstt SG I',
       'Sr. Lab Asstt.', "Mech 'A'", 'Assistant Librarian',
       'Senior Works Asstt./ Tech./Lab Asstt.', 'Sr. Suptt.',
       'SG-II SR Asstt', 'Deputy Librarian', 'Senior Library Assistant',
       'Sr. Executive Engg.', 'Junior Engineer', 'Sr Lab Technician',
       'Assistant SG II', 'Assistant Security Officer', 'SAS OFFICER',
       'Director', 'Sr Assistant SG -II',
       'Senior Technical Officer/Superintendent workshop',
       'Attendant SG-I', 'Sr Medical officer', 'Works Asstt. SG II (TL)'],
      dtype=object)